.App {
  text-align: center;
}

.title {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.arraybutton {
  background-color: lightcoral;
  border-radius: 30px;
  margin-right: 10px;
}
